mixin field(type, fieldName, ph, className)
	label.field(class=type == 'checkbox' ? className + ' field--checkbox' : className)
		case type
			when 'text'
				input(type='text', name=fieldName, placeholder=ph)&attributes(attributes)
			when 'email'
				input(type='email', name=fieldName, placeholder=ph)&attributes(attributes)
			when 'textarea'
				textarea(name=fieldName, placeholder=ph)&attributes(attributes)
			when 'checkbox'
				input(type='checkbox', name=fieldName)&attributes(attributes)
				b
				span!= ph
